<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewBag.AppName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color:navy">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewBag.AppName</a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (ViewBag.IsAdmin == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Admin/EmailSettings">
                                    <span class="glyphicon glyphicon-envelope"></span> E-Mail Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Admin/DeviceDetails">
                                    <span class="glyphicon glyphicon-phone"></span> Device Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Admin/Settings">
                                    <span class="glyphicon glyphicon-cog"></span> Settings
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">
                                <span class="glyphicon glyphicon-user"></span>
                                @(ViewBag.IsAdmin == true ? "Logout" : "Login")
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <hr />
    <footer class="container">
        <p style="text-align:center">&copy; @DateTime.Now.Year - <a href="http://www.ktsinfotech.com">KTS InfoTech</a> - @ViewBag.AppName</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>